.banner-container {
    height: 700px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    background-image: url('../images/home/homepagebanner.jpg');
    background-size: cover;
    background-position: center;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.banner-container .info-container {
    height: 50%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.banner-container .info-container h1 {
    font-size: 96px;
    color: white;
    font-family: racingsans-one;
    text-align: center;
    width: 100%;
    color: white;
}

.banner-container .info-container p {
    font-family: qwigly;
    font-size: 40px;
    text-align: right;
    width: 70%;
    color: white;
}

.banner-container .info-container a {
    display: inline-block;
    margin-top: 30px;
    color: white;
    padding: 12px 20px;
    border-radius: 45px;
    border: 3px solid white;
    text-decoration: none;
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
}

.banner-container .info-container a:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition-duration: 0.7s;
}

/* features */

.features {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.features .container-wrapper {
    width: 100%;
    height: auto;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

.features .container-wrapper .left-container {
    width: 40%;
    height: 80%;
}

.features .container-wrapper .left-container img {
    width: 550px;
    height: 600px;
}

.features .container-wrapper .left-container .img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .container-wrapper .right-container {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features .container-wrapper .right-container .hp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.features .container-wrapper .right-container h2 {
    font-size: 64px;
    font-weight: bold;
}

.features .container-wrapper .right-container p {
    font-size: 24px;
    font-weight: 600;
}

.features .container-wrapper .right-container .feature-content {
    display: flex;
    gap: 64px;
}



.features .container-wrapper .right-container .feature-content .imgcaption {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 300px;
    gap: 20px;
}

.features img {
    width: 70px;
    height: 70px;
}

.features .container-wrapper .right-container .feature-content .feature-img-secone,
.feature-img-sectwo {
    display: flex;
    flex-direction: column;
    gap: 46px;
}


/* feature section two */

.container-wrapper-sectwo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.container-wrapper-sectwo .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    gap: 60px;
    /* background-color: brown; */
}


.container-wrapper-sectwo .wrapper .left-container {
    width: 40%;
    height: 80%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
    text-align: justify;
}

.container-wrapper-sectwo .wrapper .left-container ul {
    list-style-type: none;
    font-size: 24px;
}

.container-wrapper-sectwo .wrapper .left-container p {
    font-size: 24px;
}

.container-wrapper-sectwo .wrapper .right-container {
    width: 60%;
    height: 80%;
    /* background-color: rgb(222, 108, 32); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-wrapper-sectwo .wrapper .right-container .watchfaces ul {
    display: flex;
    list-style-type: none;
}

.container-wrapper-sectwo .wrapper .right-container .watchfaces img {
    width: 240px;
    height: 240px;
    padding: 10px;
}

/* form */


.form-wrapper {
    width: 100%;
    height: 730px;
    background-color: gray;
    background-image: url('../images/home/form.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.form-wrapper .table {
    width: 534px;
    height: 380px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    position: absolute;
    top: 25%;
    left: 10%;
    gap: 16px;
    margin-bottom: 12px;
}

.form-wrapper .table .inputfield {
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.form-wrapper .table .inputfield input {
    padding-left: 10px;
}

.form-wrapper .table .inputfield input {
    width: 376px;
    height: 38px;
    border: 1px;
    border-radius: 4px;
    background-color: #D9D9D9;
}

.form-wrapper .table h2 {
    font-family: racingsans-one;
    font-size: 40px;
}

.form-wrapper .table .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper .table button {
    display: inline-block;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border-radius: 45px;
    border: 3px solid rgb(0, 0, 0);
    text-decoration: none;
    background-color: #FFFFFF;
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
}

.form-wrapper .table button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition-duration: 0.7s;
}

/* cards */

.cardwrapper {
    width: 100%;
    height: 592px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.cardwrapper h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cardwrapper .card-container {
    width: 100%;
    height: 500px;
    /* border-radius: 24px; */
    background-color: #E6E0E9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.cardwrapper .card-container .cards {
    width: 306px;
    height: 380px;
    background-color: #FAFAF5;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.cardwrapper .card-container .cards:hover {
    cursor: pointer;
    background-color: white;
    scale: 1.03;
    transition-duration: 0.4s;
    box-shadow: #1c1b1f7b;

}

.cardwrapper .card-container .cards .imgholder {
    width: 272px;
    height: 272px;
}

.cardwrapper .card-container .cards img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cardwrapper .card-container .card-section {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
}


/* @media query */


/* homebanner */

@media only screen and (max-width: 1401px) {
    .banner-container {
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .banner-container .info-container p {
        font-size: 38px;
        padding-left: 50px;
        text-align: center;
    }
}


@media only screen and (max-width: 1101px) {
    .banner-container {
        height: 100vh;
    }

    .banner-container .info-container h1 {
        font-size: 80px;
    }

    .banner-container .info-container p {
        font-size: 38px;
    }
}

@media only screen and (max-width: 917px) {
    .banner-container {
        height: 100vh;
    }

    .banner-container .info-container h1 {
        font-size: 72px;
    }

    .banner-container .info-container p {
        font-size: 36px;
    }
}

@media only screen and (max-width: 828px) {
    .banner-container {
        height: 100vh;
    }

    .banner-container .info-container h1 {
        font-size: 70px;
    }

    .banner-container .info-container p {
        font-size: 34px;
    }

    .banner-container .info-container a {
        margin-top: 26px;
        padding: 10px 18px;
    }
}

@media only screen and (max-width: 803px) {
    .banner-container {
        height: 100vh;
        gap: 20px;
    }

    .banner-container .info-container h1 {
        font-size: 64px;
    }

    .banner-container .info-container p {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .banner-container {
        height: 70vh;
    }
}

@media only screen and (max-width: 735px) {

    .banner-container .info-container h1 {
        font-size: 64px;
    }

    .banner-container .info-container p {
        font-size: 30px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 658px) {

    .banner-container .info-container h1 {
        font-size: 60px;
    }

    .banner-container .info-container p {
        font-size: 24px;
        padding-left: 10px;
    }

    .banner-container .info-container {
        gap: 0px;
    }
}

@media only screen and (max-width: 600px) {

    .banner-container .info-container h1 {
        font-size: 60px;
    }

    .banner-container .info-container p {
        font-size: 24px;
    }

    .banner-container .info-container {
        gap: 0px;
    }
}

@media only screen and (max-width: 600px) {

    .banner-container .info-container h1 {
        font-size: 60px;
    }

    .banner-container .info-container p {
        font-size: 24px;

    }

    .banner-container .info-container {
        gap: 0px;
    }
}

/* features */

@media only screen and (max-width: 1440px) {
    .features .container-wrapper {
        width: 100vw;
        height: 100vh;
    }
}

.features .container-wrapper .right-container .feature-content .imgcaption {
    width: 340px;
    gap: 10px;
}

@media only screen and (max-width: 1390px) {
    .features .container-wrapper .right-container .feature-content .imgcaption {
        width: 320px;
        gap: 10px;
    }
}

@media only screen and (max-width: 1280px) {

    .features .container-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .features .container-wrapper .left-container img {
        width: 540px;
        height: 590px;
    }

    .features .container-wrapper .right-container .feature-content {
        gap: 40px;
    }
}

.features .container-wrapper .right-container .feature-content .imgcaption {
    width: 300px;
    gap: 10px;
}


@media only screen and (max-width: 1215px) {

    .features .container-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .features img {
        width: 60px;
        height: 60px;
    }

    .features .container-wrapper .right-container .feature-content {
        display: flex;
        gap: 36px;
    }

    .features .container-wrapper .right-container .feature-content .imgcaption {
        width: 280px;
        gap: 10px;
    }

    .features .container-wrapper {
        gap: 40px;

    }
}

@media only screen and (max-width: 1178px) {

    .features .container-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .features .container-wrapper {
        gap: 40px;
    }

    .features .container-wrapper .right-container .feature-content {
        gap: 20px;
    }

    .features .container-wrapper .right-container .feature-content .imgcaption {
        width: 280px;
        gap: 8px;
    }
}


@media only screen and (max-width: 1158px) {

    .features .container-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .features .container-wrapper {
        gap: 40px;
    }

    .features .container-wrapper .right-container .feature-content {
        gap: 10px;
    }
}

@media only screen and (max-width: 1115px) {
    .features .container-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .features .container-wrapper .left-container img {
        width: 520px;
        height: 570px;
    }

    .features .container-wrapper .right-container .feature-content {
        gap: 8px;
    }
}

@media only screen and (max-width: 1049px) {

    .features .container-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .features .container-wrapper .right-container .feature-content {
        gap: 0px;
    }

    .features .container-wrapper .right-container .feature-content .imgcaption {
        gap: 16px;
    }

    .features .container-wrapper .right-container .feature-content .imgcaption {
        width: 280px;
        gap: 10px;
    }
}

@media only screen and (max-width: 1024px) {

    .features .container-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .features .container-wrapper .right-container h2 {
        font-size: 60px;
    }

    .features .container-wrapper .right-container p {
        font-size: 20px;
    }

    .features .container-wrapper .right-container .feature-content .feature-img-secone,
    .feature-img-sectwo {
        gap: 28px;
    }

    .features .container-wrapper .right-container .feature-content .imgcaption {
        width: 270px;
        gap: 10px;
    }
}

@media only screen and (max-width: 970px) {

    .features .container-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .features img {
        width: 60px;
        height: 60px;
    }

    .features .container-wrapper .left-container img {
        width: 500px;
        height: 550px;
    }

    .features .container-wrapper .right-container .feature-content .imgcaption {
        width: 270px;
        gap: 10px;
    }
}

@media only screen and (max-width: 960px) {

    .features .container-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .features .container-wrapper .right-container .feature-content .imgcaption {
        width: 250px;
        gap: 10px;
    }
}


@media only screen and (max-width: 897px) {
    .features .container-wrapper .left-container img {
        width: 480px;
        height: 530px;
    }

    .features img {
        width: 58px;
        height: 58px;
    }

}


@media only screen and (max-width: 857px) {
    .features .container-wrapper .left-container img {
        width: 550px;
        height: 610px;

    }

    .features .container-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        height: 100%;
    }

    .features .container-wrapper .left-container {
        width: 100%;
    }

    .features .container-wrapper .right-container {
        width: 80%;
        text-align: center;
    }

    .features {
        height: auto;
        width: 100%;
    }
}

@media only screen and (max-width: 821px) {
    .features img {
        width: 54px;
        height: 54px;
    }
}

@media only screen and (max-width: 768px) {
    .features .container-wrapper .right-container h2 {
        font-size: 46px;
    }

    .features .container-wrapper .right-container p {
        font-size: 16px;
    }

    .features img {
        width: 50px;
        height: 50px;
    }

    .features .container-wrapper .right-container .feature-content .imgcaption {
        width: 200px;
        gap: 10px;
    }

    .features .container-wrapper .left-container img {
        width: 430px;
        height: 490px;
    }


}

@media only screen and (max-width: 426px) {
    .features .container-wrapper .feature-content {
        display: flex;
        flex-direction: column;
    }

    .features .container-wrapper .left-container img {
        width: 380px;
        height: 440px;
    }

    .features .container-wrapper .right-container .feature-content .feature-img-secone,
    .feature-img-sectwo {
        gap: 10px;
    }

    .features img {
        width: 46px;
        height: 46px;
    }

    .features .container-wrapper .right-container .hp {
        gap: 0px;
    }

    .features .container-wrapper .feature-content .feature-img-secone {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 360px) {
    .features .container-wrapper .left-container img {
        width: 320px;
        height: 370px;
    }
}


/* container-wrapper-sectwo */

@media only screen and (max-width: 1440px) {
    .container-wrapper-sectwo {
        margin-bottom: 40px;
        height: auto;
    }

}

@media only screen and (max-width: 1423px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 230px;
        height: 230px;
        padding: 10px;
    }
}

@media only screen and (max-width: 1346px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 220px;
        height: 220px;
        padding: 20px;
    }

    .container-wrapper-sectwo .wrapper {
        flex-direction: column-reverse;
    }

    .container-wrapper-sectwo .wrapper .left-container {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1346px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 200px;
        height: 200px;
        padding: 18px;
    }
}

@media only screen and (max-width: 790px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 200px;
        height: 200px;
        padding: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .container-wrapper-sectwo .wrapper {
        gap: 20px;
    }

    .container-wrapper-sectwo .wrapper .left-container p {
        font-size: 16px;
    }

    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 190px;
        height: 190px;
        padding: 18px;
    }
}

@media only screen and (max-width: 720px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 180px;
        height: 180px;
        padding: 16px;
    }
}

@media only screen and (max-width: 660px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 170px;
        height: 170px;
        padding: 16px;
    }
}

@media only screen and (max-width: 633px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 160px;
        height: 160px;
        padding: 14px;
    }
}

@media only screen and (max-width: 585px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 150px;
        height: 150px;
        padding: 14px;
    }
}

@media only screen and (max-width: 555px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 140px;
        height: 140px;
        padding: 14px;
    }
}

@media only screen and (max-width: 522px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 130px;
        height: 130px;
        padding: 12px;
    }
}

@media only screen and (max-width: 496px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 120px;
        height: 120px;
        padding: 12px;
    }
}

@media only screen and (max-width: 476px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 120px;
        height: 120px;
        padding: 10px;
    }
}

@media only screen and (max-width: 425px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 110px;
        height: 110px;
        padding: 8px;
    }
}

@media only screen and (max-width: 425px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 110px;
        height: 110px;
        padding: 8px;
    }

    .container-wrapper-sectwo .wrapper .left-container ul li {
        font-size: 20px;
    }
}

@media only screen and (max-width: 410px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 100px;
        height: 100px;
        padding: 8px;
    }
}

@media only screen and (max-width: 400px) {
    .container-wrapper-sectwo .wrapper .right-container .watchfaces img {
        width: 90px;
        height: 90px;
        padding: 6px;
    }

    .container-wrapper-sectwo .wrapper .left-container p {
        font-size: 14px;
    }

    .container-wrapper-sectwo .wrapper .left-container ul li {
        font-size: 16px;
    }
}

/* form */

@media only screen and (max-width: 1440px) {
    .form-wrapper {
        width: 100%;
        height: 100vh
    }

    .form-wrapper .table .inputfield {
        gap: 18px;
    }
}

@media only screen and (max-width: 1025px) {
    .form-wrapper {
        width: 100vw;
        height: 100vh
    }

    .form-wrapper .table {
        width: 434px;
        height: 280px;
        gap: 10px;
    }

    .form-wrapper .table .inputfield {
        font-size: 14px;
    }

    .form-wrapper .table .inputfield input {
        width: 276px;
        height: 28px;
    }

    .form-wrapper .table button {
        display: inline-block;
        margin-top: 0px;
        color: rgb(0, 0, 0);
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 600;
    }

    .form-wrapper .table h2 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 955px) {
    .form-wrapper .table {
        border-radius: 10px;
        position: absolute;
        top: 25%;
        left: 10%;
        gap: 14px;
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 920px) {
    .form-wrapper .table {
        border-radius: 10px;
        position: absolute;
        top: 25%;
        left: 6%;
        gap: 14px;
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 769px) {
    .form-wrapper .table {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .form-wrapper .table h2 {
        color: white;
    }

    .form-wrapper .table .inputfield input {
        background-color: #d9d9d926;
        border: 1px solid rgb(0, 0, 0);
    }

    .form-wrapper .table .inputfield ::placeholder {
        color: #fafaf561;
    }

    .form-wrapper .table button {
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid white;
        color: white;
    }

    label {
        color: #ffffff;
    }
}

@media only screen and (max-width: 498px) {
    .form-wrapper .table {
        width: 334px;
        height: 280px;
        gap: 8px;
        top: 25%;
        left: 10%;
    }

    .form-wrapper .table .inputfield {
        gap: 8px;

    }

    .form-wrapper .table .inputfield input {
        width: 176px;
        height: 24px;
    }
}

@media only screen and (max-width: 376px) {
    .form-wrapper .table {

        left: 5%;
    }
}

@media only screen and (max-width: 321px) {
    .form-wrapper .table {
        left: 1%;
    }

    .form-wrapper .table {
        width: 314px;
        height: 260px;
        gap: 8px;
    }
}

/* cards */


@media only screen and (max-width: 1440px) {

    .cardwrapper {
        width: 100%;
        height: auto;
    }

    .cardwrapper .card-container {
        height: auto;
        padding: 20px;
        width: auto;

    }

    .cardwrapper .card-container .card-section {
        display: flex;
        flex-wrap: wrap;
    }
}


@media only screen and (max-width: 768px) {
    .cardwrapper .card-container .cards p {
        font-size: 16px;

    }

    .cardwrapper h2 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 687px) {
    .cardwrapper .card-container .cards {
        width: 266px;
        height: 340px;
    }

    .cardwrapper .card-container .cards p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 610px) {
    .cardwrapper .card-container .cards {
        width: 226px;
        height: 300px;
        border-radius: 12px;
    }

    .cardwrapper .card-container .cards p {
        font-size: 16px;
    }

    .cardwrapper .card-container .cards .imgholder {
        width: 260px;
        height: 230px;
    }
}

@media only screen and (max-width: 525px) {
    .cardwrapper .card-container .cards {
        width: 206px;
        height: 280px;
        border-radius: 12px;
    }

    .cardwrapper .card-container .cards p {
        font-size: 16px;
    }

    .cardwrapper .card-container .cards .imgholder {
        width: 250px;
        height: 220px;
    }
}

@media only screen and (max-width: 477px) {
    .cardwrapper .card-container .cards {
        width: 290px;
        height: 270px;
        border-radius: 12px;
    }

    .cardwrapper .card-container .cards p {
        font-size: 16px;
    }

    .cardwrapper .card-container .cards .imgholder {
        width: 240px;
        height: 210px;
    }
}

@media only screen and (max-width: 426px) {
    .cardwrapper h2 {
        font-size: 32px;
    }
}