@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: advertising-script;
    src: url(./fonts/advertising-script/Advertising\ Script\ Bold\ Trial.ttf);
}

@font-face {
    font-family: racingsans-one;
    src: url(./fonts/Racing_Sans_One/RacingSansOne-Regular.ttf);
}

@font-face {
    font-family: qwigly;
    src: url(./fonts/Qwigley/Qwigley-Regular.ttf);
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 24px;
}

/*navbar8*/

nav {
    height: 98px;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav .container-wrapper label {
    display: none;
}

nav .container-wrapper #cbox {
    display: none;
}

nav h1 {
    font-size: 48px;
    font-family: advertising-script;
}

nav .container-wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container-wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 80px;
}

nav .container-wrapper ul .active {
    text-decoration: underline 2px
}

nav .container-wrapper ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 600
}


nav .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav .form-container form {
    position: relative;
}

nav .form-container form .search-box {
    width: 250px;
    height: 35px;
    border-radius: 45px;
    border: none;
    border: 1px solid black;
}

nav .form-container form input {
    padding-left: 40px;
}

nav .form-container form i {
    position: absolute;
    left: 5%;
    top: 30%;
}

nav .form-container .user-profile {
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
}

nav .form-container .user-profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}


/*followus section  */

.followus {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 324px;
    margin-bottom: 40px;
}

.followus h2 {
    font-size: 48px;
    font-weight: bold;
}

.followus .imgcontainer {
    display: flex;
    gap: 100px;
    margin: 24px 0px 24px 0px;
}

.followus .icon img {
    width: 76px;
    height: 76px;
}


/* footer  */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #E8EAEC;
    gap: 100px;
}

.footer-container .class-footerwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.class-footerwrapper .section h4 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.class-footerwrapper .section ul {
    list-style-type: none;
}

.class-footerwrapper .section ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}



/* mediaquery */

@media only screen and (max-width: 1200px) {
    nav .form-container form .search-box {
        width: 220px;
    }
}

@media only screen and (max-width: 1150px) {
    nav .container-wrapper ul {
        gap: 50px;
    }
}

@media only screen and (max-width: 1050px) {
    nav .form-container form .search-box {
        width: 200px;
    }

    nav .container-wrapper ul li a {
        font-size: 18px;
    }
}


@media only screen and (max-width: 970px) {
    nav h1 {
        font-size: 42px;
    }

    nav .form-container .user-profile {
        height: 56px;
        width: 56px;
    }
}

@media only screen and (max-width: 920px) {
    nav .container-wrapper ul {
        gap: 40px;
    }
}

@media only screen and (max-width: 875px) {
    nav h1 {
        font-size: 40px;
    }

    nav .container-wrapper ul li a {
        font-weight: 500;
    }
}

@media only screen and (max-width: 860px) {
    nav .form-container .user-profile {
        height: 54px;
        width: 54px;
    }

    nav .container-wrapper ul {
        gap: 30px;
    }
}

@media only screen and (max-width: 825px) {
    nav {
        height: 80px;
    }

    nav h1 {
        font-size: 38px;
    }

    nav .container-wrapper ul {
        gap: 25px;
    }

    nav .container-wrapper ul li a {
        font-weight: 500;
        font-size: 16px;
    }

    nav .form-container .user-profile {
        height: 52px;
        width: 52px;
    }

    nav .form-container form .search-box {
        width: 180px;
        height: 32px;
    }
}


@media only screen and (max-width: 800px) {
    nav h1 {
        font-size: 36px;
    }

    nav .container-wrapper ul {
        gap: 22px;
    }
}

@media only screen and (max-width: 768px) {
    nav .container-wrapper ul {
        flex-direction: column;
        position: absolute;
        left: 0%;
        top: -300%;
        transition-duration: 0.7s;
        background-color: #fafafa;
        width: 200px;
        padding: 20px;
    }

    #cbox:checked~ul {
        top: 80px;
        left: 0%;
        background-color: #fafafa;

    }

    nav .container-wrapper label {
        display: block;
        /* order: 4; */
    }

    nav .container-wrapper ul .active {
        text-decoration: none;
    }

}




@media only screen and (max-width: 465px) {
    nav .form-container form .search-box {
        display: none;
    }

    nav {
        height: 46px;
    }

    nav h1 {
        font-size: 24px;
    }

    nav .form-container .user-profile {
        height: 36px;
        width: 36px;
    }

    nav .form-container form i {
        position: relative;
    }

    nav .container-wrapper ul {
        flex-direction: column;
        position: absolute;
        left: 0%;
        top: -450%;
        transition-duration: 0.7s;
    }


}

/* followus section */

    @media only screen and (max-width: 426px){
        .followus h2 {font-size: 40px;}
        .followus .imgcontainer {gap: 60px;}
    }

    @media only screen and (max-width: 321px){
    .followus .imgcontainer {
        gap: 4
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        

    }}

/* footer */

@media only screen and (max-width: 985px) {
    .footer-container .class-footerwrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;
        margin: 20px;
    }

    .footer-container {
        width: auto;
        height: auto;
    }

}